# Neon database connection string for production or local development
DATABASE_URL=postgresql://neondb_owner:npg_P0i6fSDvWNTM@ep-young-term-ail5j4ha-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require
PORT=5000
